<h3>Server Component Markup</h3>
<label>Server Name</label>
<input type="text" class="form-control" [(ngModel)]="serverName">
<p>Server with ID {{serverId}} is {{serverStatus}}</p>

<button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer()">Add Server</button>
{{allowNewServer}}

{{serverCreationStatus}}

<label>Username</label>
<input type="text" class="form-control" [(ngModel)]="username">
{{username}}

<button class="btn btn-primary" [disabled]="username.length == 0" (click)="onUsernameButtonClick()">Check Name</button>
